@keyframes box-title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in{
  animation: box-title 2s ease-in-out;
}


@keyframes team-member {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.team-member {
  animation: team-member 3s ease-in-out;
}

.box-title{
   display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.box-title:hover {
  filter: brightness(70%);
}

.team-member:hover {
  transform: scale(1.1);
}

.projeto:hover {
  transform: scale(1.1);
}

.projeto:hover {
  cursor: pointer;
}

footer {
  background-color: #ff80ab;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-size: 14px;
  position: relative; /* Necessário para posicionamento absoluto funcionar dentro dele */
}

.social-icons {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  gap: 12px;
}

.social-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.social-icon:hover {
  transform: scale(1.2);
}
body {
  font-family: Arial, sans-serif;
  background-color: #ffe6f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ff80ab;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 28px;
}

section {
  padding: 30px;
  text-align: center;
}

.box-title {
  background-color: #f06292;
  color: white;
  padding: 10px;
  font-size: 22px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 16px 16px 16px rgba(0,0,0,0.2);
  display: inline-block;
}

.circular-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 16px 16px 16px rgba(0,0,0,0.3);
  margin: 10px;
}

.team-member {
  display: inline-block;
  margin: 20px;
  text-align: center;
}

.team-member h3 {
  margin-top: 10px;
  font-weight: bold;
}

.projeto {
  width: 300px;
  max-width: 90%;
  box-shadow: 16px 16px 16px rgba(0,0,0,0.3);
  border-radius: 10px;
  margin-top: 10px;
}

footer {
  background-color: #ff80ab;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-size: 14px;
  position: relative;
}

.social-icons {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  gap: 12px;
}

.social-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.social-icon:hover {
  transform: scale(1.2);
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}